      <p><span style="color: #111; font-weight: bolder;">I18n.locale :</span> <%= data[:I18n_locale] %></p>
      <p><span style="color: #111; font-weight: bolder;">HTTP_ACCEPT_LANGUAGE.first :</span> <%= data[:HTTP_ACCEPT_LANGUAGE] %></p>
      <p><span style="color: #111; font-weight: bolder;">I18n.available_locales :</span> <%= data[:I18n_available_locales] %></p>
      <p><span style="color: #111; font-weight: bolder;">request.path_info : </span> <%= data[:request_path_info] %></p>
      <p style="display: none;"><span style="color: #111; font-weight: bold; display: none;">SI18n.load_path :</span> <%= data[:I18n_load_path] %></p>