
    <h3><%= I18n.t :"ticket.h3", :scope => 'body.template', :locale => params[:locale] %></h3>
    <div>
      <button class="well" type="submit" name="template" value="moon_night">
        <div class="image" style="position: relative;">
        <img src="img/ticket_moon_p.png" style="width: 80%;" />
        <p style="color: #bbb; position: absolute; left: 32%; top: 55%; text-align: left;">
          <span style="font-weight: bolder;">
          <%= params[:name] %> <%= params[:surname] %><br />
          </span>
          <%= params[:where] %><br />
          <%= params[:when] %>
        </p>
        </div>
      </button>
    </div>
    <div>
    <p>
      <%= I18n.t :"ticket.url", :scope => 'body.template', :locale => params[:locale] %> : <a href="<%= data[:url_prefix_locale] %>/ticket/print/<%= params[:name] %>/<%= params[:surname] %>/<%= params[:where] %>/<%=params[:when]%>/<%=params[:template]%>"><%= data[:url_prefix_locale] %>/ticket/print/<%=params[:name]%>/<%=params[:surname]%>/<%=params[:where]%>/<%=params[:when]%>/<%=params[:template]%></a>
    </p>
    </div>
